header.mdl-layout__header.is-casting-shadow.theme-background
	div.mdl-layout__drawer-button(tabindex="0" role="button" aria-expanded="false")
		i.material-icons 

	div.mdl-layout__header-row

		span.mdl-layout-title= title
		div.mdl-layout-spacer

		block action_buttons


div.mdl-layout__drawer
	span.mdl-layout-title.theme-color
		b Omni
		| System

	nav.mdl-navigation
		a.mdl-navigation__link( href="/" ) 
			i.mdl-color-text--blue-grey-400.material-icons(role="presentation") home 
			| Home

		a.mdl-navigation__link( href="/produtos" ) 
			i.mdl-color-text--blue-grey-400.material-icons(role="presentation") local_mall 
			| Produtos

		a.mdl-navigation__link( href="/clientes" ) 
			i.mdl-color-text--blue-grey-400.material-icons(role="presentation") people 
			| Clientes

		a.mdl-navigation__link( href="/pedidos" ) 
			i.mdl-color-text--blue-grey-400.material-icons(role="presentation") shopping_cart 
			| Pedidos