.mdl-navigation__link .material-icons {
	margin-right: 20px;
}

.theme-background {
	background-color: #502795;
	color: #FFF;
}

.theme-color {
	color: #502795;
}

.font-14 {
	font-size: 14px !important;
}

.text-center {
	text-align: center;
}


.products-list {
	width: 300px;
}

.header-bar--link {
	color: #FFF;
}

.mdl-data-table td {
	padding: 12px !important;
}

.login-page .mdl-layout {
	align-items: center;
  justify-content: center;
}
.login-page .mdl-layout__content {
	padding: 24px;
	flex: none;
}