extends /includes/base

block body

	div.mdl-grid
		
		div.mdl-color--white.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col.mdl-grid
			if orders && orders.length
				ul.mdl-list
					for order in orders
						li.mdl-list__item.mdl-list__item--two-line
							span.mdl-list__item-primary-content
								span= order.client.name
								span.mdl-list__item-sub-title= Parse.dateTimeToString( order.created_at )

							span.mdl-list__item-secondary-content

								a.mdl-list__item-secondary-action.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored( href="/pedidos/editar/"+ order._id )
									i.material-icons( id="link-edit-"+ order._id ) mode_edit
									span.mdl-tooltip( for="link-edit-"+ order._id ) Editar pedido

								a.mdl-list__item-secondary-action.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent( href="/pedidos/excluir/"+ order._id )
									i.material-icons( id="link-delete-"+ order._id ) delete
									span.mdl-tooltip( for="link-delete-"+ order._id ) Excluir pedido

			else
				| Não há pedidos

