extends ../includes/base

block action_buttons
	a.mdl-button.mdl-js-button.header-bar--link( href="/estoque/adicionar" ) Adicionar estoque

block body
	div.mdl-grid
		
		div.mdl-color--white.mdl-shadow--2dp.mdl-cell.mdl-cell--12-col.mdl-grid
			if stocks && stocks.length
				ul.mdl-list
					for stock in stocks

						
						li.mdl-list__item.mdl-list__item--two-line
							span.mdl-list__item-primary-content
								a( id="link-edit-stock-"+ stock._id, href="/stockes/editar/"+ stock._id )
									span= stock.product_info.name
								span.mdl-tooltip( for="link-edit-stock-"+ stock._id ) Ver informações/editar
								span.mdl-list__item-sub-title= stock.product_info.name

						
							//- span.mdl-list__item-secondary-content
								a.mdl-list__item-secondary-action.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored( id="link-edit-client-"+ client._id, href="/pedidos/novo/"+ client._id )
									i.material-icons( id="link-order-"+ client._id ) shopping_cart
									span.mdl-tooltip( for="link-order-"+ client._id ) Fazer pedido

								//- a.mdl-list__item-secondary-action.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--colored( href="/clientes/editar/"+ client._id )
									i.material-icons mode_edit

								a.mdl-list__item-secondary-action.mdl-button.mdl-js-button.mdl-button--icon.mdl-button--accent( href="/clientes/excluir/"+ client._id )
									i.material-icons( id="link-client-"+ client._id ) delete
									span.mdl-tooltip( for="link-client-"+ client._id ) Excluir cliente

			else
				| Não há estoque cadastrado
